<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RetailBanking</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerCreate</display-name>
    <servlet-name>CustomerCreate</servlet-name>
    <servlet-class>servlet.CustomerCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerCreate</servlet-name>
    <url-pattern>/CustomerCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerSearch</display-name>
    <servlet-name>CustomerSearch</servlet-name>
    <servlet-class>servlet.CustomerSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSearch</servlet-name>
    <url-pattern>/CustomerSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transmit</display-name>
    <servlet-name>Transmit</servlet-name>
    <servlet-class>servlet.Transmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transmit</servlet-name>
    <url-pattern>/Transmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUpdate</display-name>
    <servlet-name>CustomerUpdate</servlet-name>
    <servlet-class>servlet.CustomerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUpdate</servlet-name>
    <url-pattern>/CustomerUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDelete</display-name>
    <servlet-name>CustomerDelete</servlet-name>
    <servlet-class>servlet.CustomerDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDelete</servlet-name>
    <url-pattern>/CustomerDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountSearch</display-name>
    <servlet-name>AccountSearch</servlet-name>
    <servlet-class>servlet.AccountSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountSearch</servlet-name>
    <url-pattern>/AccountSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountCreate</display-name>
    <servlet-name>AccountCreate</servlet-name>
    <servlet-class>servlet.AccountCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCreate</servlet-name>
    <url-pattern>/AccountCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDelete</display-name>
    <servlet-name>AccountDelete</servlet-name>
    <servlet-class>servlet.AccountDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDelete</servlet-name>
    <url-pattern>/AccountDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Account_Dep_Withd</display-name>
    <servlet-name>Account_Dep_Withd</servlet-name>
    <servlet-class>servlet.Account_Dep_Withd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account_Dep_Withd</servlet-name>
    <url-pattern>/Account_Dep_Withd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer</display-name>
    <servlet-name>Transfer</servlet-name>
    <servlet-class>servlet.Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/Transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transaction</display-name>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>servlet.Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/Transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadExcell</display-name>
    <servlet-name>DownloadExcell</servlet-name>
    <servlet-class>servlet.DownloadExcell</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadExcell</servlet-name>
    <url-pattern>/DownloadExcell</url-pattern>
  </servlet-mapping>
</web-app>